{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Calculator</title>
{% endblock title  %}

{% block content %}
<section class="s2">
	{% include 'base/navbar.html' %}
	<div class="main-container">
        <h2>Calculator</h2>

        <a class="atuin-btn" href="https://github.com/teredet/Kyvi-calculator" target="_blank">GitHub Repository</a>	
        <p>Calculator written in Python. The user interface is written using the Kyvi library.</p>
        <p>In addition to standard arithmetic, the following tools are implemented: root of a number, square of a number, division without remainder, remainder of division.</p>
        
        <h5>Technologies:</h5>
		<p>Python</p>
		<p>Kivy</p>		

		<h5>Features</h5>
		<p>Basic arithmetic ( - , + , * , / )</p>
		<p>Additional tools ( х² , √x , // , % )</p>
        
        
		<div class="img-container">
			<img class='post-img' src="https://github.com/teredet/Kyvi-calculator/raw/master/img/1.png">
			<img class='post-img' src="https://github.com/teredet/Kyvi-calculator/raw/master/img/2.png">
        </div>
    </div>
</section>
{% endblock content %}