{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Chat</title>
{% endblock title  %}

{% block content %}
<section class="s2">
	{% include 'base/navbar.html' %}
	<div class="main-container">
        <h2>Chat</h2>
		<a class="btn" href="https://github.com/teredet/Chat" target="_blank">GitHub Repository</a>
		<p>Asynchronous client-server Chat with PyQT5 interface.</p>

		<h5>Technologies:</h5>
		<p>Python</p>
		<p>PyQt5</p>
		<p>Twisted</p>
		

		<h5>Features</h5>
		<p>When a new user is connected, it is written who is already in the chat.</p>
		<p>When a new user logs in, a message is written to the rest of the users about the connection of the new user.</p>
		
		<h5>Two client windows</h5>
		<div class="img-container">
			<img class='post-img' src="https://github.com/teredet/Chat/raw/master/img/1.png">
		</div>

    </div>
</section>



{% endblock content %}