{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>To-Do</title>
{% endblock title  %}

{% block content %}
<section class="s2">
	{% include 'base/navbar.html' %}
	<div class="main-container">
        <h2>To-Do</h2>
    
		<a class="btn" href="https://github.com/teredet/ToDo" target="_blank">GitHub Repository</a>	
		<p>To-Do Website on Django. With a beautiful design, authorization and search for tasks. And with a counter of uncompleted tasks.</p>
        
        
        <h5>Technologies:</h5>
		<p>Python</p>
		<p>Django</p>
		<p>SQLite</p>
		

		<h5>Features</h5>
		<p>registration / authorization;</p>
		<p>creating / viewing / editing tasks;</p>
		<p>search</p>
		
        <h5>Main page</h5>
		<div class="img-container">
			<img class='post-img' src="https://github.com/teredet/ToDo/raw/master/img/1.png">
		</div>
        
        <h5>Login page</h5>
		<div class="img-container">
			<img class='post-img' src="https://github.com/teredet/ToDo/raw/master/img/2.png">
		</div>
        
        <h5>Create task</h5>
		<div class="img-container">
			<img class='post-img' src="https://github.com/teredet/ToDo/raw/master/img/3.png">
		</div>

    </div>
</section>
{% endblock content %}